---
import BaseLayout from "../layouts/BaseLayout.astro";
import ColorRow from "../components/ColorRow.astro";

const primaryClasses = [
  "bg-orange-100",
  "bg-orange-200",
  "bg-orange-300",
  "bg-orange-400",
  "bg-orange-500",
  "bg-orange-600",
  "bg-orange-700",
  "bg-orange-800",
  "bg-orange-900",
];

const neutralClasses = [
    "bg-taupe-100",
    "bg-taupe-200",
    "bg-taupe-300",
    "bg-taupe-400",
    "bg-taupe-500",
    "bg-taupe-600",
    "bg-taupe-700",
    "bg-taupe-800",
    "bg-taupe-900",
]

const negativeAccentClasses = [
    "bg-red-100",
    "bg-red-200",
    "bg-red-300",
    "bg-red-400",
    "bg-red-500",
    "bg-red-600",
    "bg-red-700",
    "bg-red-800",
    "bg-red-900",
]

const positiveAccentClasses = [
    "bg-green-100",
    "bg-green-200",
    "bg-green-300",
    "bg-green-400",
    "bg-green-500",
    "bg-green-600",
    "bg-green-700",
    "bg-green-800",
    "bg-green-900",
]

const warningAccentClasses = [
    "bg-yellow-100",
    "bg-yellow-200",
    "bg-yellow-300",
    "bg-yellow-400",
    "bg-yellow-500",
    "bg-yellow-600",
    "bg-yellow-700",
    "bg-yellow-800",
    "bg-yellow-900",
]
---

<BaseLayout>
    <div class="flex flex-col items-end">
    <ColorRow title="Primary" bgClasses={primaryClasses}/>
    <button class="bg-orange-500 text-taupe-100 p-2 rounded-md border-2 border-taupe-100 m-3 mb-0">This button shows how the primary color looks</button>
    <div class="rounded-md m-3 bg-orange-100 text-orange-900 p-2">
        <h1 class="text-xl font-bold">This is an example alert</h1>
        <h2>It shows how the darkest and lightest shades of the primary color compare</h2>
    </div>
    <ColorRow title="Neutral" bgClasses={neutralClasses}/>
    <ColorRow title="Negative Accent" bgClasses={negativeAccentClasses}/>
    <ColorRow title="Positive Accent" bgClasses={positiveAccentClasses}/>
    <ColorRow title="Warning Accent" bgClasses={warningAccentClasses}/>
    </div>
</BaseLayout>